# MongoDB Configuration
MONGODB_URI=mongodb+srv://bruunieng_db_user:KBrMHlFoECoeVqan@janus-protocol.xxxxx.mongodb.net/?retryWrites=true&w=majority

# LinkedIn OAuth
LINKEDIN_CLIENT_SECRET=seu_client_secret_aqui

# Port
PORT=3000

# Node Environment
NODE_ENV=production
